pandas
numpy
matplotlib
seaborn

scikit-learn

sentence-transformers

langchain
langchain-community
langchain-huggingface

chromadb

transformers
torch

streamlit

jupyter
pandas
numpy
matplotlib
sentence-transformers
chromadb
langchain-text-splitters
gradio